*
{
    margin: 0;
    padding: 0;
}

body
{
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;
    width: 100vw;
}

#canvas
{
    border: 4px solid black;
}